
.paginatorWrapper {
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 80px;
}

.pages {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.pageBtn {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    margin: 1px 5px;
    font-size: 18px;
    width: 18px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.activePageBtn {
    border: 1px solid black;
}

.nextBtnWrapper {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.nextBtn {
    font-size: 14px;
    padding: 7px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0px 5px;
}
.prevBtn {
    font-size: 14px;
    padding: 7px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0px 5px;
}