.usersPageWrapper {
    width: 100%;
    min-height: 500px;
    background-color: white;
    border-radius: 10px;
}

.paginatorWrapper {
    padding: 20px 0px;
    background: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
