.dialogWindow {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 8fr 40px;
    grid-gap: 5px;
    border-radius: 10px;
    background: #fff;
    padding: 5px;
}

.messagesList {
    border: 1px solid #57575742;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}