.dialogWindow {
    display: grid;
    min-height: 530px;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: fit-content(600px);
    grid-gap: 5px;
    border-radius: 10px;
    background: #fff;
    padding: 5px;
}

.messagesList {
    border: 1px solid #57575742;
    border-radius: 4px;
    padding: 5px;
    overflow: auto;
    height: 600px;
    padding-right: 12px;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.friendsList {
    border: 1px solid #cfcfcf;
    margin-top: 10px;
    max-height: 325px;
    overflow-x: hidden;
}