.app-wrapper {
  padding: 4px;
  margin: 0px auto;

  width: min-content;
  min-width: 1000px;
  min-height: 600px;

  border-radius: 10px;

  background: #f4f4f4;

  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 4px;
}
